################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ASM_1/FileContentIndex/34316301-a63d-4a90-89c8-b6eeb2f7dd55.vsidx
/.vs/ASM_1/FileContentIndex/0428c618-a6ee-4490-b3bb-e4e9b2893635.vsidx
/.vs/ASM_1/FileContentIndex/523b626e-639e-4716-b9a2-259e014a5f36.vsidx
/.vs/ASM_1/FileContentIndex/1999f4d2-8bd0-4369-be36-4980cce04c23.vsidx
/.vs/ASM_1/FileContentIndex/0296023b-c2ef-4159-93fb-a13746db20d7.vsidx
/.vs/ASM_1/FileContentIndex/4fb17ff5-d99b-4c03-b648-30fa58389e0e.vsidx
/.vs/ASM_1/FileContentIndex
