@{
    ViewData["Title"] = "Đăng ký";
    Layout = "_Layout";
}
@model ASM_1.Models.Account.RegisterViewModel
@section Styles {
    <link rel="stylesheet" href="~/css/pages/Register.css" />
}

<div class="auth-container">
    <div class="auth-form">
        <h2>Đăng ký tài khoản</h2>

        <form asp-action="Register" asp-controller="Account" method="post">
            @Html.AntiForgeryToken()

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Username">Username  <span style="color:orangered">*</span></label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Email">Email  <span style="color:orangered">*</span></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            @* <div class="form-group">
                <label asp-for="PhoneNumber">Phone  <span style="color:orangered">*</span></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div> *@

            <div class="form-group">
                <label asp-for="Password">Mật khẩu <span style="color:orangered">*</span></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label>Xác nhận mật khẩu <span style="color:orangered">*</span></label>
                <input type="password" class="form-control" required>
            </div>

            <div class="form-check">
                <input type="checkbox" class="form-check-input" required>
                <label class="form-check-label">Tôi đồng ý với <a href="#">điều khoản sử dụng</a></label>
            </div>

            <button type="submit" class="btn-primary">Đăng ký</button>
        </form>

        <div class="auth-links">
            <p>Đã có tài khoản? <a asp-action="Login" asp-controller="Account">Đăng nhập ngay</a></p>
        </div>
    </div>
</div>

