@model ASM_1.Models.Account.UserRolesViewModel

<h2>Edit Roles for @Model.UserName</h2>

<form asp-action="EditUserRoles" method="post">
    <input type="hidden" asp-for="UserId" />

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Role Name</th>
                <th>Assigned</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Roles.Count; i++)
            {
                <tr>
                    <td>
                        @Model.Roles[i].RoleName
                        <input type="hidden" asp-for="Roles[@i].RoleId" />
                        <input type="hidden" asp-for="Roles[@i].RoleName" />
                    </td>
                    <td>
                        <input asp-for="Roles[@i].IsSelected" />
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <button type="submit" class="btn btn-success">Save</button>
    <a asp-action="ListUsers" class="btn btn-secondary">Cancel</a>
</form>
